[submodule "tools/alphafold-v2.3.2"]
	path = tools/alphafold-v2.3.2
	url = https://github.com/google-deepmind/alphafold
	branch = v2.3.2
[submodule "tools/Dense-Homolog-Retrieval"]
	path = tools/Dense-Homolog-Retrieval
	url = https://github.com/ml4bio/Dense-Homolog-Retrieval
	branch = v1
